
<table width="95%">
    <tr>
        <td>
            <div class="row " style="margin-bottom: 12px">
             <div class="col-md-5 col-lg-5">
                 <label class="checkbox-inline bolds">
                     <input type="checkbox" name="save" checked autocomplete="off">Save
                 </label>
                 <label class="checkbox-inline bolds">
                     <input type="checkbox" name="notify"  autocomplete="off">Notify (Whatsapp/SMS)
                 </label>
             </div>
             <div class="col-md-7 col-lg-7 text-right">
                 <button>Print Marks sheet</button>
             </div>
            </div>

        </td>
    </tr>
</table>
