<tr style="background-color: #bdbcbc; ">

    <td colspan="9" style="text-align: center" >
    <div style="text-align: left;font-weight: bold">Note.</div>
        <small>We understand that, on occasion, errors may occur in the recording and reporting of exam results. We acknowledge that the integrity of the assessment process is crucial, and we are committed to addressing and rectifying any discrepancies that may arise. Students are encouraged to review their results carefully, and if they believe there is an error, we have established procedures in place to investigate and correct such issues. Our goal is to ensure that each student receives accurate and fair assessments, and we appreciate their diligence in bringing potential errors to our attention. We take such concerns seriously and are dedicated to maintaining the highest standards in our educational practices</small>
    <div style="text-align: right; font-size: 0.5rem; font-weight: bold">Print @{{print_date}}</div>
    </td>

</tr>