<center> <table width="95%"  border="0">
    <tr>
    <th width="20%"><img style="float:right;height: 120px;width: auto;object-fit: fill;" src="{{logo}}"> </th>
    <td colspan="7" style="text-align: center"  width="65%" >
        <center>
            <div style="text-align: center">
                <div style="font-size: 34px;text-align: center; "><center>{{school.name}}</center></div>
                <div style="margin-top: -5px;margin-bottom: 5px;">
                    <b>Phone</b>: {{school.phone}}  <b>Email</b>: {{school.email}}<br>
                    <b>Address</b>: {{school.address}}<br>
                    <b>Website</b>: {{school.host}}<br>
                    <span style="text-align: center;font-size: 15px;font-weight: bold;border-bottom:2px dotted black">{{report_title}}<br>
                    {{exam_title}}</span>


                </div>
            </div>
        </center>
    </td>

    <td width="15%" style="text-align: right; margin-right: 5px;">
        <img height="100px" width="100px" src="{{base_url}}/uploads/digis/qrcode.png"></td>
    </tr>


</table></center>